NEXT_PUBLIC_SUPABASE_URL=https://supabase.com/dashboard/project/wlspyeabmpzrawifrqjq
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Indsc3B5ZWFibXB6cmF3aWZycWpxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODEyMTA4NTgsImV4cCI6MjA5Njc4Njg1OH0.QjUwOA5lAhUJcRvFD10pnyWmuxcViOniivjGw0VRV7Y
